/* Device Tree Overlay for Atlas EZO-pH Sensor (I2C Mode)
 * For nRF5340 DK
 * Copy to boards/nrf5340dk_nrf5340_cpuapp.overlay
 */

&i2c1 {
  status = "okay";
  pinctrl-0 = <&i2c1_default>;
  pinctrl-1 = <&i2c1_sleep>;
  pinctrl-names = "default", "sleep";
  clock-frequency = <I2C_BITRATE_STANDARD>;

  ezo_ph: ezo-ph@63 {
    compatible = "atlas,ezo-ph";
    reg = <0x63>;
    label = "EZO_PH";
  };
};
