/* Device Tree Overlay for Atlas EZO-pH Sensor (I2C Mode)
 * For nRF5340 DK
 * Sensor must be pre-configured to I2C mode via UART commands first:
 *   - Connect via UART
 *   - Send "I2C,99\r" to switch to I2C address 0x63
 *   - Send "Plock,1\r" to lock protocol
 */

&i2c1 {
  status = "okay";
  pinctrl-0 = <&i2c1_default>;
  pinctrl-1 = <&i2c1_sleep>;
  pinctrl-names = "default", "sleep";
  clock-frequency = <I2C_BITRATE_STANDARD>;

  ezo_ph: ezo-ph@63 {
    compatible = "atlas,ezo-ph";
    interface = "i2c";  // Selects I2C mode
    reg = <0x63>;
    label = "EZO_PH";
  };
};
